<html>
   <head>
      <script src='https://cdn.tailwindcss.com/'></script>
      <link rel="stylesheet" href="/css/{{#if darkMode}}aboutusdarkstyle.css{{else}}aboutusstyle.css{{/if}}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="js/aboutusscript.js" defer></script>
      </head>
      <body>
         
   {{>navbar}}
   <div class="{{#if darkMode}}bg-black{{else}}bg-white{{/if}}">
	<div class="pt-12 pb-12 max-w-7xl mx-auto">
	   <div class="container">
		  <div class="flex flex-wrap justify-between items-center -mx-4">
			 <div class="w-full lg:w-6/12 px-4">
				<div class="flex items-center -mx-3 sm:-mx-4">
				   <div class="w-full xl:w-1/2 px-3 sm:px-4">
					  <div class="py-3 sm:py-4">
					  	<div class="relative">
						 <img src="templatephotos/Admin.webp" alt="" class="rounded-2xl w-full img-editable">
						</div>
					  </div>
					  <div class="py-3 sm:py-4">
					  	<div class="relative">
						 	<img src="templatephotos/Append.webp" alt="" class="rounded-2xl w-full img-editable">
						</div>
					  </div>
				   </div>
				   <div class="w-full xl:w-1/2 px-3 sm:px-4">
					  <div class="my-4 z-10">
					  	<div class="relative">
						 <img src="templatephotos/Nova.webp" alt="" class="rounded-2xl w-full img-editable">
						</div>
					  </div>
				   </div>
				</div>
			 </div>
                <div class="w-full lg:w-1/2 xl:w-5/12 px-4 text-center sm:text-left">
                    <div class="mt-10 lg:mt-0">
                        <span class="font-semibold text-base text-blue-600 mb-2 block uppercase secondary_text editable">About Us</span>
                        <h2 class="font-bold text-3xl sm:text-4xl {{#if darkMode}}text-white{{else}}text-dark{{/if}} mb-8 primary_text editable" data-content="website-headlines">Get Professional Web Templates at Affordable Prices</h2>
                        <p class="text-base {{#if darkMode}}text-white{{else}}text-gray-600{{/if}} mb-8 secondary_text editable" data-content="about-us">Web Templates Store is a leading provider of website templates. We offer a wide range of templates for all types of websites, including ecommerce, business, and personal websites. Our templates are available in a variety of colors and styles, and are easy to customize to match your website's look and feel.<br><br>We believe that every website should have a unique design, and our templates are the perfect way to achieve that. Whether you're looking for a simple template or a more complex one, we have something for everyone.<br><br>In addition to our website templates, we also offer a wide range of web development services. We can help you with everything from customizing your template to developing a custom website from scratch. We're here to help you every step of the way!</p>
                        <a href="#" class="py-3 px-10 inline-flex items-center justify-center text-center text-white text-base bg-blue-600 hover:bg-blue-700 hover:no-underline font-medium rounded-lg btn-editable editable">Get Started</a>
                    </div>
              </div>
		  </div>
	   </div>
	</div>
</div>
<div class="flex items-center justify-center py-16 {{#if darkMode}}bg-black{{else}}bg-white{{/if}} min-w-screen text-center sm:text-left" id="testimonials">
    <div class="max-w-6xl px-12 mx-auto md:px-16 xl:px-10">
        <div class="flex flex-col items-center lg:flex-row">
            <div class="flex flex-col items-center justify-center w-full h-full pr-8 mb-10 lg:mb-0 lg:w-1/2">
                <p class="mb-2 text-base font-medium text-blue-600 uppercase accent_text editable">Web developers love Web Templates Store</p>
                <h2 class="text-4xl font-extrabold leading-10 tracking-tight {{#if darkMode}}text-white{{else}}text-gray-900{{/if}} sm:text-5xl sm:leading-none md:text-6xl lg:text-5xl xl:text-6xl primary_text editable">Testimonials</h2>
                <p class="my-6 text-lg {{#if darkMode}}text-white{{else}}text-gray-600{{/if}} secondary_text editable">Don't just take our word for it, read from our extensive list of case studies and customer testimonials.</p>
            </div>
            <div class="w-full lg:w-1/2">
                <blockquote class="flex items-center justify-between w-full col-span-1 p-6 bg-white rounded-lg shadow">
                    <div class="flex flex-col pr-8">
                        <div class="relative pl-12">
                            <svg class="absolute left-0 w-10 h-10 text-blue-300 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                                <path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"></path>
                            </svg>
                            <p class="mt-2 text-sm text-gray-600 sm:text-base lg:text-sm xl:text-base secondary_text editable" data-content="testimonials">"I recently had the pleasure of using Web Templates Store and was truly impressed by its vast selection of templates. The design options are intuitive and user-friendly, making it easy to customize the look and feel of my website. I've already recommended this site to several friends who are looking for a high quality web template."</p>
                        </div>

                        <h3 class="pl-12 mt-3 text-sm font-medium leading-5 text-gray-800 truncate sm:text-base lg:text-sm lg:text-base secondary_text">
                            <span class="editable">Jane Cooper</span>
                            <span class="mt-1 text-sm leading-5 text-gray-500 truncate secondary_text editable">- CEO SomeCompany</span>
                        </h3>
                    </div>
                    <img class="is_avatar flex-shrink-0 w-20 h-20 bg-gray-300 rounded-full xl:w-24 xl:h-24 object-cover img-editable" src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6" alt="">
                </blockquote>
                <blockquote class="flex items-center justify-between w-full col-span-1 p-6 mt-4 bg-white rounded-lg shadow">
                    <div class="flex flex-col pr-10">
                        <div class="relative pl-12">
                            <svg class="absolute left-0 w-10 h-10 text-blue-300 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                                <path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"></path>
                            </svg>
                            <p class="mt-2 text-sm text-gray-600 sm:text-base lg:text-sm xl:text-base secondary_text editable" data-content="testimonials">"I just wanted to share my experience with Web Templates Store. It's been great to have access to a wide variety of website templates, both free and at cost. The template designs are modern and easy to customize, making it easier for me to create the perfect site for any project."</p>
                        </div>
                        <h3 class="pl-12 mt-3 text-sm font-medium leading-5 text-gray-800 truncate sm:text-base lg:text-sm lg:text-base secondary_text">
                            <span class="editable">John Doe</span>
                            <span class="mt-1 text-sm leading-5 text-gray-500 truncate secondary_text editable">- CEO SomeCompany</span>
                        </h3>
                        <p class="mt-1 text-sm leading-5 text-gray-500 truncate"></p>
                    </div>
                    <img class="is_avatar flex-shrink-0 w-24 h-24 bg-gray-300 rounded-full object-cover img-editable" src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d" alt="">
                </blockquote>
                <blockquote class="flex items-center justify-between w-full col-span-1 p-6 mt-4 bg-white rounded-lg shadow">
                    <div class="flex flex-col pr-10">
                        <div class="relative pl-12">
                            <svg class="absolute left-0 w-10 h-10 text-blue-300 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                                <path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"></path>
                            </svg>
                            <p class="mt-2 text-sm text-gray-600 sm:text-base lg:text-sm xl:text-base secondary_text editable" data-content="testimonials">"I recently purchased a Web Template from the Web Templates Store and was extremely impressed with the quality of the template. Not only did I find exactly what I needed, but it was easy to customize and implement on my website. The customer service was also great - they were really helpful in answering all my questions."</p>
                        </div>

                        <h3 class="pl-12 mt-3 text-sm font-medium leading-5 text-gray-800 truncate sm:text-base lg:text-sm lg:text-base secondary_text">
                            <span class="editable">John Smith</span>
                            <span class="mt-1 text-sm leading-5 text-gray-500 truncate secondary_text editable">- CEO SomeCompany</span>
                        </h3>
                        <p class="mt-1 text-sm leading-5 text-gray-500 truncate"></p>
                    </div>
                    <img class="is_avatar flex-shrink-0 w-24 h-24 bg-gray-300 rounded-full object-cover img-editable" src="https://images.unsplash.com/photo-1483058712412-4245e9b90334" alt="">
                </blockquote>
            </div>
        </div>
    </div>
</div><div class="py-24 {{#if darkMode}}bg-black{{else}}bg-white{{/if}}">
    <div class="px-8 mx-auto max-w-7xl lg:px-16">
        <h2 class="mb-4 text-xl font-bold {{#if darkMode}}text-white{{else}}text-gray-900{{/if}} md:text-3xl primary_text editable">Frequently Asked Questions</h2>
        <div class="grid grid-cols-1 gap-0 text-gray-600 md:grid-cols-2 md:gap-16">
            <div>
				<div class="faq">
					<h5 class="mt-10 mb-3 font-semibold {{#if darkMode}}text-white{{else}}text-gray-900{{/if}} secondary_text editable" data-content="faq">What types of web templates do you offer at your online store?</h5>
                	<p class="text-sm secondary_text editable {{#if darkMode}}text-white{{else}}text-gray-900{{/if}}" data-subcontent="faq-answers">Our online store offers a wide range of web templates to help you create the perfect website. Whether you are looking for something simple or complex, functional or decorative, we have the template for you. We offer free web templates and also premium web templates for those who need more advanced features. With our selection of fully responsive and customizable templates, you can be sure to find the perfect fit for your project.</p>
				</div>
                <div class="faq">
					<h5 class="mt-10 mb-3 font-semibold {{#if darkMode}}text-white{{else}}text-gray-900{{/if}} secondary_text editable" data-content="faq">Can you explain the difference between free and paid web templates available on your website?</h5>
                	<p class="text-sm secondary_text editable {{#if darkMode}}text-white{{else}}text-gray-900{{/if}}" data-subcontent="faq-answers">Free web templates are limited in their features, but they provide a good starting point for those who are just getting started with web design. Paid web templates give you access to more features and customization options, as well as support from our designers so that you can make your website stand out.</p>
				</div>
				<div class="faq">
					<h5 class="mt-10 mb-3 font-semibold {{#if darkMode}}text-white{{else}}text-gray-900{{/if}} secondary_text editable" data-content="faq">How can web developers benefit from using your templates in their projects?</h5>
                	<p class="text-sm secondary_text editable {{#if darkMode}}text-white{{else}}text-gray-900{{/if}}" data-subcontent="faq-answers">Our web templates provide web developers with the flexibility to create projects faster and with less effort. They come pre-packed with features that will make your project stand out from the competition. Additionally, our templates are optimized for both desktop and mobile devices, so you can develop a project for any screen size without spending extra time coding and debugging.</p>
				</div>
            </div>
            <div>
                <div class="faq">
					<h5 class="mt-10 mb-3 font-semibold {{#if darkMode}}text-white{{else}}text-gray-900{{/if}} secondary_text editable" data-content="faq">Are your templates compatible with popular content management systems like WordPress or Joomla?</h5>
                	<p class="text-sm secondary_text editable {{#if darkMode}}text-white{{else}}text-gray-900{{/if}}" data-subcontent="faq-answers">Absolutely! All of our templates are designed to be compatible with popular CMS's like WordPress, Joomla, Drupal and more. We also make sure that our templates are mobile-friendly too, so you can rest assured they'll look great on any device.</p>
				</div>
				<div class="faq">
					<h5 class="mt-10 mb-3 font-semibold {{#if darkMode}}text-white{{else}}text-gray-900{{/if}} secondary_text editable" data-content="faq">Do you offer any additional services or resources to assist web developers in customizing the purchased templates?</h5>
                	<p class="text-sm secondary_text editable {{#if darkMode}}text-white{{else}}text-gray-900{{/if}}" data-subcontent="faq-answers">Absolutely! With every purchase, you will have access to our extensive library of tutorials and resources to help you customize your template. We also provide free personalized support for our customers in case they have any questions or run into any issues while setting up their template.</p>
				</div>
				<div class="faq">
					<h5 class="mt-10 mb-3 font-semibold {{#if darkMode}}text-white{{else}}text-gray-900{{/if}} secondary_text editable" data-content="faq">Is there a support system in place if I encounter any issues while using or installing the template?</h5>
                	<p class="text-sm secondary_text editable {{#if darkMode}}text-white{{else}}text-gray-900{{/if}}" data-subcontent="faq-answers">Absolutely! Our team of experts is available to help you with any issues that may arise while using or installing the template. We provide a ticket system, live chat and email support to ensure that your experience with our web templates is as smooth as possible.</p>
				</div>
            </div>
        </div>
    </div>
</div>

{{>footer}}

</body>
</html>